<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.instagram.com">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="InstaWall" ng-csp class="platform-android">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title">Instagram Wallpaper</h1>
      </ion-header-bar>
      <ion-content ng-controller="MainCtrl">
        <div class="list">

          <form ng-submit="findPics()">
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <input type="search" ng-model="tagname" placeholder="Your hash tag">
              </label>
              <button type="submit" class="button button-small button-balanced">
                Find images
              </button>
            </div>
          </form>

        </div>

        <div class="list card" ng-repeat="item in instaData">

          <div class="item item-avatar">
            <img src="{{item.user.profile_picture}}">
            <h2>{{item.user.username}}</h2>
            <p>{{item.user.full_name}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="{{item.images.standard_resolution.url}}">
            <p>{{item.caption.text}}</p>
            <p>
              <a href="#" class="subdued">{{item.likes.count}} Like</a>
              <a href="#" class="subdued">{{item.comments.count}} Comments</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>

        </div>

        <ion-infinite-scroll immediate-check="false" on-infinite="loadMore()" distance="1%" ng-if="feedActive"></ion-infinite-scroll>

      </ion-content>
    </ion-pane>
  </body>
</html>
